<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href= "{% url 'create_project' %}">Create a new project</a>
                </p>
                {% if projects|length == 0 %}
                    <p>You are not assigned to any projects</p>
                {% else %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                        <tr>
                            {% for project in projects %}
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
        </main>
    </body>
</html>
